In [1]:
# This could be any DB-API 2.0 compliant database
#  Although some change in the connect arguments may be necessary
#  For example --- adding user= and password= keywords
import sqlite3 as db

In [2]:
# Connect to the database.

# Create an in-memory database (specific for sqlite3)
database = ':memory:'

# Read it from file / create a new database in a file
#database = '/tmp/mydata'

conn = db.connect(database)
c = conn.cursor()

In [3]:
# Create a table in the database.

sql = """create table stocks 
         (date text, trans text, symbol text, qty real, price real)"""
c.execute(sql)

In [4]:
sql = """insert into stocks values
         ('2006-01-05', 'BUY', 'RHAT', 100, 35.14)"""
c.execute(sql)

conn.commit()

In [5]:
stocks = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
          ('2006-04-05', 'BUY', 'MSOFT', 1000, 72.00),
          ('2006-04-06', 'SELL', 'IBM', 500, 53.00)]
sql = "insert into stocks values (?,?,?,?,?)"
for t in stocks:
    c.execute(sql, t)
    
# or:
#c.executemany(sql, stocks)

In [6]:
# Retrieve all results matching a query.

t = ('IBM',)
c.execute('select * from stocks where symbol=?', t)

results = c.fetchall()
print results

[(u'2006-03-28', u'BUY', u'IBM', 1000.0, 45.0), (u'2006-04-06', u'SELL', u'IBM', 500.0, 53.0)]

In [7]:
# Retrieve the results matching a query, one by one.

from itertools import count

c.execute('select * from stocks where symbol=?', t)
for row in c:
    print row

(u'2006-03-28', u'BUY', u'IBM', 1000.0, 45.0)
(u'2006-04-06', u'SELL', u'IBM', 500.0, 53.0)

In [8]:
# Cleanly close the database.

c.close()  # or: del c
conn.close()